* {
    box-sizing: border-box;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    overflow-y: hidden;
    background: black;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body > .container {
    position: relative;
    background: rgb(244, 244, 244);
    z-index: 0;
}

body.dark .container .screen {
    background: rgb(35, 35, 35);
}

.container .screen {
    background: rgb(230, 230, 230);
    min-height: 100vh;
}

body.dark .container .screen .hat {
    background: rgb(40, 40, 40) !important;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.container .screen .hat {
    width: 100%;
    background: rgb(240, 240, 240);
    padding: 20px 24px;
}

body.dark .hat .clock {
    color: #FFF;
}

.hat .clock {
    float: right;
    font-size: 32px;
}

body.dark .container .screen .apps {
    background: rgb(35, 35, 35) !important;
}

.container .screen .apps {
    background: rgb(230, 230, 230);
    padding-top: 20px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0 0;
}

.grid .cell {
    display: flex;
    width: 20%;
    margin-bottom: 45px;
    justify-content: space-around;
    align-items: center;
}

.grid .cell .item:not(.invisible) {
    height: 125px;
    width: 210px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease,
                box-shadow 0.15s ease;
}

.grid .cell .item img {
    border-radius: 6px;
}

body.dark .grid .cell .item .title {
    color: #FFF;
}

.grid .cell .item .title {
    display: none;
    position: relative;
    text-align: center;
    color: #333;
    top: 7px;
}

.grid .cell .item.active:not(.invisible),
.grid .cell .item:hover:not(.invisible) {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-11px)
               scale(1.15);
}

.grid .cell .item:hover .title {
    display: block;
}

body.dark .alert-overlay {
    background: rgba(30, 30, 30, 0.8);
    color: #FFF;
}

.alert-overlay {
    background: rgba(241, 246, 252, 0.8);
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    transition: filter 1s,
                -webkit-filter 1s;
}

.alert-overlay .alert {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 75vw;
    top: 50%;
    left: 50%;
}

.alert-overlay .alert .title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}

.alert-overlay .alert .message {
    font-size: 30px;
    margin-bottom: 40px;
}

body.dark .alert-overlay .alert .button {
    background: rgba(50, 50, 50, 0.8);
    color: #FFF;
}

.alert-overlay .alert .button {
    display: inline-block;
    cursor: pointer;
    padding: 12px 28px;
    font-size: 21px;
    text-transform: uppercase;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s, transform 0.1s;
}

.alert-overlay .alert .button:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    /*transform: translateY(-5px);*/
}

.application {
    background: #FFFFFF;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.application webview {
    height: 100%;
    width: 100%;
}

/*

body.dark .container .screen .grid .item .title {
    color: #FFF;
}

.container .screen .grid .item .title {
    display: none;
    position: relative;
    top: 1px;
    color: #333;
    font-size: 16px;
    text-align: center;
}

.container .screen .grid .item.active:not(.invisible),
.container .screen .grid .item:hover:not(.invisible) {
    transform: translateY(-11px) scale(1.2);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.container .screen .grid .item.active:not(.invisible) .title,
.container .screen .grid .item:hover:not(.invisible) .title {
    //display: block;
}

.container .screen .grid .item.invisible {
    cursor: default;
    background: transparent;
    box-shadow: none;
}*/
